@import "_lib";

.sidebar
	pos 0 auto 0 0; width sidebar-w
	padding-top 50


.sidebar-logo
	pos 0; left 0; font 24; color #999; cursor default; opacity .3;
	padding 5 0 0 10; not-selectable();

	i
		font 34; margin-right -3; vertical-align bottom; show 1;
		&:before
			rotate 270; show 2;
