@import "_lib";

.sidebar
	pos 0 auto 0 0; width sidebar-w
	padding-top 50


.sidebar-logo
	pos 0; left 0; font 24; color #999; cursor default; opacity .3;
	padding 5 0 0 15; not-selectable();

	.fa-rss
		font 34; margin-right -4; vertical-align bottom;
		&:before
			rotate 270; show 2;
