body{background:#333 url(../img/noise.png) 0 0 repeat}
.btn{background:none;border:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;text-shadow:none;color:#999}
.pull-right{float:right}
#toolbar{z-index:1;position:absolute;top:0;right:0;left:190px;padding:4px 15px;height:36px}
#sidebar{position:absolute;top:36px;bottom:0;left:0;width:200px;padding:25px 15px 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:12px;}
#sidebar .nav{width:170px}
#sidebar .nav>li>a{text-shadow:0 -1px 0 rgba(0,0,0,0.4);color:#a4a4a4;border-top:1px solid transparent;border-bottom:1px solid transparent;}
#sidebar .nav>li>a:hover,#sidebar .nav>li>a:focus{background:none;color:#ccc}
#sidebar .nav-list>.active>a,#sidebar .nav-list>.active>a:hover,#sidebar .nav-list>.active>a:focus{background:-webkit-linear-gradient(top,#492527,#3b1017);background:-moz-linear-gradient(top,#492527,#3b1017);background:-o-linear-gradient(top,#492527,#3b1017);background:-ms-linear-gradient(top,#492527,#3b1017);background:linear-gradient(top,#492527,#3b1017);border-bottom:1px solid #29060d;border-top:1px solid #5d393d;-webkit-box-shadow:0 -1px 0 #2f2f2f , 0 1px 1px #2f2f2f;-moz-box-shadow:0 -1px 0 #2f2f2f , 0 1px 1px #2f2f2f;box-shadow:0 -1px 0 #2f2f2f , 0 1px 1px #2f2f2f;color:#c8bcbe}
#sidebar .nav-list:last-child{margin-bottom:10px}
#sidebar hr{margin:20px -15px;border:none;border-top:1px solid #2a2a2a;border-bottom:1px solid #454545}
#sidebar .sidebar-wrapper{position:absolute;top:132px;right:0;bottom:0;left:0;padding:15px 20px 15px 15px;margin-right:-20px;overflow:hidden;overflow-y:auto}
#sidebar .badge,#sidebar .no-badge{font-size:11px;padding:2px 6px 1px;-moz-border-radius:2px;border-radius:2px;background-clip:padding-box;-webkit-background-clip:padding;-moz-background-clip:padding;-ms-background-clip:padding;background-clip:padding}
#sidebar .no-badge{color:#999;padding-right:5px}
.nav-list{padding:0;}
.nav-list .nav-header{color:#999;text-shadow:0 -1px 0 rgba(0,0,0,0.4);cursor:default}
.nav-list .span3,.nav-list .span2{text-align:right;}
.nav-list .span3 img,.nav-list .span2 img{float:left;margin:2px 0 0 0;width:16px;height:16px}
.nav-list .row-fluid [class*="span"]{min-height:20px;white-space:nowrap;max-width:130px;overflow:hidden;text-overflow:ellipsis}
.nav-list .color{float:left;width:14px;height:14px;margin:3px 0 0 0}
.nav-list .icon-rss{font-size:16px;float:left;margin:2px 0 0;color:#888;opacity:.3}
#content{position:absolute;top:36px;right:0;bottom:0;left:200px;overflow:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#999;text-align:center;z-index:1;-webkit-box-shadow:-5px -5px 5px rgba(0,0,0,0.4);-moz-box-shadow:-5px -5px 5px rgba(0,0,0,0.4);box-shadow:-5px -5px 5px rgba(0,0,0,0.4);-moz-border-radius:15px 0 0 0;border-radius:15px 0 0 0;background-clip:padding-box;-webkit-background-clip:padding;-moz-background-clip:padding;-ms-background-clip:padding;background-clip:padding;background:#ddd url(../img/noise.png) 0 0 repeat;}
#content .entry{position:relative;-webkit-transition:all .5s ease-out;-moz-transition:all .5s ease-out;-o-transition:all .5s ease-out;-ms-transition:all .5s ease-out;transition:all .5s ease-out;text-align:left;background-color:#f5f5f5;opacity:.95;border-bottom:1px solid #d5d5d5;-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.5);-moz-box-shadow:0 2px 3px rgba(0,0,0,0.5);box-shadow:0 2px 3px rgba(0,0,0,0.5);}
#content .entry:last-child{margin-bottom:70%}
#content .entry a{color:#666;-webkit-transition:color .5s ease-out;-moz-transition:color .5s ease-out;-o-transition:color .5s ease-out;-ms-transition:color .5s ease-out;transition:color .5s ease-out}
#content .entry i{margin-right:7px;font-size:14px}
#content .entry .tb-btn{margin-right:15px;cursor:default;font-size:13px;text-shadow:0 1px 0 #fff;font-weight:bold;color:#aaa;}
#content .entry .tb-btn:hover{color:#666}
#content .entry .pull-right .tb-btn{margin-left:15px;margin-right:0}
#content .entry .mark-unread,#content .entry .addstar{display:inline-block}
#content .entry .mark-read,#content .entry .unstar{display:none}
#content .unread{background-color:#fff;opacity:1;}
#content .unread a{color:#08c}
#content .unread .mark-unread,#content .starred .addstar{display:none}
#content .unread .mark-read,#content .starred .unstar{display:inline-block}
#content .entry-body{font-size:12px;padding:10px 15px 5px;overflow:hidden;clear:both;}
#content .entry-body p{margin-bottom:5px}
#content .entry-body p>img,#content .entry-body div>div>a>img{float:right;max-width:250px;max-height:200px;margin:3px 0 10px 20px}
#content .entry-header{overflow:hidden;padding:12px 15px 10px;border-bottom:1px solid #eee;}
#content .entry-header h3{font-size:18px;line-height:28px;margin:0;font-weight:normal}
#content .entry-header .entry-source{color:#999;font-size:12px;margin-left:2px}
#content .entry-header a.entry-source{color:#666;text-decoration:underline;margin-left:4px;}
#content .entry-header a.entry-source:hover{text-decoration:none}
#content .entry-header .entry-time{float:right;margin:1px 0 0 5px;color:#666;font-size:12px}
#content .entry-footer{padding:5px 15px 4px;background:#ddd url(../img/leather.png) 0 0 repeat;border-top:1px solid #d5d5d5;-webkit-box-shadow:0 1px 0 #fff inset;-moz-box-shadow:0 1px 0 #fff inset;box-shadow:0 1px 0 #fff inset}
#content .no-items{font-size:270px;margin:33% auto;color:#ccc;text-shadow:0 1px 0 #fff,1px -1px 0 #aaa;opacity:.4;cursor:default}
