/* mobile version */

/* only desktop */
@media screen and (min-width: 1024px) {
	body.publicmode.notloggedin  .entry-toolbar {display:none !important; }
}

/* desktop and tablet */
@media screen and (min-width: 641px) {
	#nav {position:fixed; width:180px; overflow: hidden; float:left; min-height: 100%; height:auto; height:100%; }
}

/* ipad and smartphone */
@media screen and (max-width:1024px) {
	.entry, .source {margin:0; padding:7px; border-radius:0px; border:0; background:url(../img/entry-bg.png) bottom repeat-x #fff; }
	.source-showparams,
	.source-delete,
	.source-save,
	.source-cancel {color:#333; border:0; background:#ededed; border-radius:4px; cursor:pointer; padding:5px; font-size:1.1em; }
	#nav-settings.nologin {width:120px; }
	#nav-login {width:120px; }
	/*#nav-tags .color {width:25px; height:25px; top:6px; margin-left:-40px; }*/
	#search {width:305px; top:-46px; left:100%; margin-left:-370px; transition: top 0.5s ease-in-out ; -webkit-transition: top 0.5s ease-in-out ; -o-transition: top 0.5s ease-in-out ; -moz-transition: top 0.5s ease-in-out; border-radius: 0 0 0 4px; }
	#search.active {top:0px; left:100%; }
	#search-button {top:42px; left:100%; margin-left:-50px; padding:10px; background-color:rgba(61, 109, 105, 0.4); border-radius: 0 0 4px 4px; }
	#search-list {height:35px; margin-left:157px; }
	.entry-toolbar {margin-left:-7px; }
	.entry-toolbar .entry-loadimages {display:block; }
	.entry-newwindow {display:none; }
	.entry-content {display:none; -moz-column-count: 1; -webkit-column-count: 1; column-count: 1; }
	.entry.selected.unread, .entry.unread {border-right:5px solid #5f9490; border-left:0; }
	.entry.selected {background:#ededed; }
	.source-add {margin-left:20px; text-align:left; }
}


/* smartphone */
@media only screen and (max-width: 641px) {
	#login .button input {margin-left:3px; }
	#login .button label {display:none; }
	#nav-mobile {position:relative; display:block; background:#191718; border-bottom:3px solid #3d6d69; width:100%; height:50px; }
	#nav-mobile-logo {position:absolute; width:96px; height:40px; left:50%; top:5px; margin-left:-48px; background:url(../img/nav-mobile-logo.png) no-repeat; background-size:96px 40px; }
	#nav-mobile-settings {position:absolute; width:29px; height:29px; left:100%; top:10px; margin-left:-48px; background:url(../img/nav-mobile-settings.png) no-repeat; background-size:29px 29px; }
	#nav {display:none; position:relative; left:0; width:100%; margin:0; border:0; overflow:hidden; clear:both; border-bottom:3px solid #3d6d69; }
	#nav-search {display:block; margin-bottom:80px; }
	#nav-search-term {background:#ccc; width:50%; margin-left:10px; }
	#nav-search-button {color:#ededed; border:0; background:#333; border-radius:4px; cursor:pointer; }
	#nav-settings,
	#nav-logout,
	#nav-login {position:relative; top:10px; left:0; margin-left:20px; margin-bottom:20px; }
	#nav-settings {float:left; }
	#nav-login,
	#nav-logout {left:70px; }
	#nav-copyright {margin-top:-20px; margin-left:-60px; left:100%; }
	#search {display:none; }
	#search-list  {margin-left:10px; }
	#content {margin:0; padding:0; width:100%; }
	.source, .entry {margin:0; padding:7px; border-radius: 0; font-size:0.8em; border-top:1px solid #ccc; }
	.entry-source, .entry-datetime {color:#3d6d69; }
	.source-showparams,
	.source-delete,
	.source-save,
	.source-cancel {font-size:1.3em; }
	.source-edit-form-help {display:none; }
	.entry-content {line-height:1.5em; font-size:0.95em; }
	.sp-container {z-index:100; }

	#fullscreen-entry {position:absolute; left:0; top:0; margin:0; border:0; width:100%; overflow-x: hidden; background:#ffffff; z-index:22; }
	#fullscreen-entry .entry {padding-top:50px; }
	#fullscreen-entry .entry-title {padding-top:40px; color:#333333; font-size:1.3em; }
	#fullscreen-entry .entry-content, #fullscreen-entry .entry-toolbar {display:block; }
	#fullscreen-entry .entry-toolbar {position:fixed; top:0; left:0; width:100%; margin:0; font-size:0.8em; margin-bottom:0; }
	#fullscreen-entry .entry-close {display:block; }
	.entry-share {display:none; }
	.entry-smartphone-share {display:block; margin-top:10px; margin-bottom:10px; height:50px; }
	.entry-smartphone-share li {float:left; margin-right:10px; margin-bottom:5px; list-style:none; }
}



/* tablet */
@media screen and (min-width: 641px) and (max-width:1024px) {
	#nav {width:160px; }
	#content {margin-left:165px; margin-top:0; margin-right:0; padding:0; }
}
.alttextdiv {border-style: solid; border-width: 1px; border-color: black; }
.mobileimgdiv {overflow-x: scroll; }