@import "_lib";


#main
	position relative; mar 0; border-box(); color #999; text center; z 1; float right; padding-bottom 60%; width 100%;
	min-width 768px; min-height 100%; box-shadow: -5px 0 5px rgba(0,0,0,0.5); bg #ddd 'noise.png' 0 0 repeat;

	.main-wrapper
		position relative;
	.entry
		text left; background-color #f7f7f7; border-bottom #ccc; transition background-color .7s;
		a
			color #888; transition color .5s; u 0;
			&:hover
				u 1;
		i
			margin-right 7px; font 14;

		.tb-btn
			mar 0; cursor default; font 13; text-shadow 0 1px 0 #fff; b 1; color #aaa; pad 7 10; show 1;
			transition color .2s;
			&:hover
				color #666;
		.pull-right .tb-btn
			margin-left 15px; margin-right 0;
		.mark-unread
		.addstar
		.expand
			show 1;
		.mark-read
		.unstar
		.collapse
			show 0;
		&.active
		&.unread
			background-color #fff;
		&.unread a
			color #0088CC

	.unread .mark-unread
	.starred .addstar
	.expanded .expand
		show 0
	.unread .mark-read
	.starred .unstar
	.expanded .collapse
		show 1

	.entry-body
		font 13/1.5; pad 0 15 5; clear both; max-height 200px; overflow hidden; //overflow-y auto;
		p
			margin 0 0 5px
		p>img,
		div>div>a>img
			float right; clear right; max-width 250px; max-height 200px; margin 3px 0 10px 20px

	.entry-header
		overflow hidden; pad 15;
		h3
			font 18/28px; margin 0;
			b 0;
		.entry-source
			float right; clear right; color #aaa; font 12; margin-left 2px
		a.entry-source
			float none; color #666; margin-left 4px;
		.entry-time
			float right; clear right; mar 5 0 0 5; color #666; font 12;

	.entry-footer
		position relative; pad 15 6 0; //bg #f7f7f7; border-top #e0e0e0; shadow 0 1 0 #fff 1 inset;

