@import "_lib";


sidebar-width = 200px
toolbar-height = 36px

.btn
	bg none; border none; shadow none; text-shadow none; color #999;

#toolbar.navbar
	z 1;
	.navbar-inner
		min-height toolbar-height; bg #444 'dark-noise.png' 0 0 repeat; shadow none; border none;
	.divider-vertical
		border none; mar 0; size 32;
	.btn-group
		margin-left 15px;
	.container
		width 98%;
	.search-query
		width 147px; pad 3 12 2; font 12;

#sidebar
	pos toolbar-height,,0,0; width sidebar-width; pad 0 15; border-box(); bg #444 'dark-noise.png' 0 0 repeat;
	.nav>li>a
		text-shadow 0 -1px 0 rgba(#000, .4); color #A4A4A4;
		&:hover
		&:focus
			background none; color #ccc;
	.nav-list>.active>a
	.nav-list>.active>a:hover
	.nav-list>.active>a:focus
		gradient #492527 #3B1017; border-bottom #29060D; border-top #5D393D; shadow 0 -1 0 #2F2F2F, 0 1 1 #2F2F2F;
		color #C8BCBE;

	hr
		margin 20px -15px; border none; border-top #333; border-bottom #666;

	.sidebar-wrapper
		pos 132 0 0 0; pad 15; font 12px; overflow hidden; //overflow-y auto;
	.badge
	.no-badge
		font 11px; padding 2px 6px 1px; radius 2;
	.no-badge
		color #999; padding-right 5px;

.nav-list
	pad 0
	.nav-header
		color #999; text-shadow 0 -1px 0 rgba(#000, .4); cursor default;
	.span3, .span2
		text right;
		img
			float left; margin 2px 0 0 0; size 16;
	.row-fluid [class*="span"]
		min-height 20px;
	.color
		float: left; size 14; mar 3 0 0 0



#content
	pos toolbar-height 0 0 sidebar-width; overflow auto; border-box(); bg #f0f0f0; color #999; text center; z 1;
	shadow -5 -5 5 #000 .4;

	.entry
		position relative; mar 0; radius 0; top auto; left auto; width auto; transition all .5s;
		text left; background-color #f5f5f5; opacity .95; shadow none; border none; border-bottom #999;
		a
			color #666; transition color .5s;
		&:last-child
			margin-bottom 70%;
		&.active
			//border #FFA500;
		.btn-read
			show 1; radius 0 4 4 0; margin-right 0;
		.btn-unread
			show 0; radius 0 4 4 0; margin-right 0;
		.btn-star
			show 1; radius 4 0 0 4; margin-left 0;
		.btn-unstar
			show 0; radius 4 0 0 4; margin-left 0;

	.unread
		background-color #fff; opacity 1
		a
			color #0088CC
		.btn-read
			show 0
		.btn-unread
			show 1
	.starred
		.btn-star
			show 0
		.btn-unstar
			show 1


	.modal-body
		font 12; pad 10 15 5;
		p
			margin-bottom 5px

		p>img,
		div>div>a>img
			float right; max-width 250px; max-height 200px; margin 3px 0 10px 20px
	.modal-header
		overflow hidden; pad 12 15 10; height 45
		h3
			font 18/28px
			b 0;
		img
			size 16;
		.entry-tags
			show 1; mar 0 10 0;
		.label
			pad 2 4; font 9/1; text-shadow none;
		.entry-source
			color #999; font 12; margin-left 2px
		a.entry-source
			color #666; u 1; margin-left 4px;
			&:hover
				u 0;

		.entry-time
			float right; mar 1 0 0 5; color #666; font 12;
		.entry-icon
			float right; margin-left 10px;
	.modal-footer
		pad 6 10;  bg #eee 'dark-noise.png' 0 0 repeat; radius 0;


//@import "_mobile";