@import "_lib";

#sideToolbar
#mainToolbar
	pos(); left 0; right 0; bottom 0; height toolbar-height; z 1; border-box(); bg #ddd 'noise.png' 0 0 repeat;
	-webkit-transform translate3d(0, 0, 0); transform translate3d(0, 0, 0);


	.btn
		color #888; font 13/1.5; height 40; min-width 48px; margin-right 18px; pad 0 10; bg none; border none;
		transition color .2s; text-shadow 0 1px 0 #fff; b 1; shadow none; radius 0;
		&:hover
			color #555;
		&:active
			color #000;
		i
			font 20/1; b 0; vertical-align top;
	.btn-group
		radius 15; border #999; height 30; mar 4 10 0 10; shadow 0 1 0 #fff; bg #ddd; pad 0 5;
		.btn
			height 30; mar 0 5 0 0; position relative; padding-top 3px;
		.badge
			font 11/1; b 1; pos 2 0; bg #666; color #FFF; padding 2 5 1; radius 10; text-shadow none;

#mainToolbar
	left sidebar-width; border-top #aaa; text center; shadow 0 1 0 #fff 1 inset, -5 3 5 #000 .5;

#sideToolbar
	text center; background-color #333; border-top #222; shadow 0 1 0 #555 1 inset;

	.btn
		&
		&:hover
		&:active
			color #666; text-shadow 0 -1px 0 #000; bg none; border none;

		&:hover
			color #999;
		&:active
			color #555;
	.pull-right
		margin-right 0;
