@import "_lib";

.toolbar
	pos 0 0 auto 0; height toolbar-h; z 1; padding 0 10 0;

	btn-margin = 20px

	.btn
		bg rgba(#000, 0); color #888; border none; u 0; float left; font 16; padding 5 7;
		font 16/20px; font-weight 400; margin-right btn-margin; text-align center;
		transition color .2s; text-shadow 0 1px 0 #fff; shadow none; radius 0;
		&::-moz-focus-inner
			padding 0; outline none;

		&:hover
			color #555;

		&:active
			color #000;


		.fa
			font 20/1; vertical-align top; margin 0 3;

		.icon
			font 28/1; vertical-align top; margin 0 3;


	input.btn
		height auto; line-height 1;

	.btn-right
		float right; margin-right 0; margin-left btn-margin;

	.title
		float left; font 21/38px; padding 0; margin 0; b 0; color #666;





.main-toolbar
	left sidebar-w; bg #ddd; border-bottom #999;
	shadow 0 1 0 #fff .5 inset, 0 1 0 #fff .6, -5 -3 5 #000 .5;


.sidebar-toolbar
	border-top #222; shadow 0 1 0 #555 1 inset;

	.btn
		color #666; text-shadow 0 -1px 0 #000; bg none; border none;

		&:hover
			color #999;

		&:active
			color #555;


