@import "_lib";

card-padding = 20px;

.card
	bg #eee; padding card-padding 0 0; margin 10; position relative;
	shadow 0 1 2 #000 .3;


.card-title
	margin 0; padding 0 card-padding card-padding; b 0;

.card-body
	padding 0 card-padding; line-height 1.4;

.card-footer
	border-top #ddd; margin 20 0 0; padding 10 card-padding;

