@import "_lib";

.main
	pos toolbar-h 0 0 sidebar-w; bg #ddd; padding 0; overflow hidden; overflow-y auto;
	-webkit-overflow-scrolling touch;
	transform translateZ(0);
	shadow -5 -3 5 #000 .5;

	h1
		color #333; padding 0 20; font 36; font-weight 100;


	table .icon
		font 26/1; padding 0 10;


card-padding = 20px;
.card
	bg #eee; padding card-padding 0 0; margin 10; position relative;
	shadow 0 1 2 #000 .3;


.card-title
	margin 0; padding 0 card-padding card-padding; b 0;

.card-body
	padding 0 card-padding; line-height 1.4;

.card-footer
	border-top #ddd; margin 20 0 0; padding 10 card-padding;

