@import "_lib";

#main
	pos 0 0 0 sidebar-w; bg #ddd; padding 0; overflow hidden; overflow-y auto;
	-webkit-overflow-scrolling touch;
	shadow -5 0 5 #000 .5;

	h1
		color #333; padding 0 20; font 36; font-weight 100;
