@import "_lib";

.btn::-moz-focus-inner
input::-moz-focus-inner
button::-moz-focus-inner
	padding 0; border 0; outline none;



.btn
button
	font inherit;
	font 14/1;
	show 1;
	box-sizing border-box;
	padding 8 15;
	border-radius 5;
	vertical-align top;
	min-height 32;
	transition background-color .2s, border-color .2s;
	border 1 form-color;
	color form-text-color;
	bg rgba(form-color-dark, 0.5);
	shadow 0 16 5 #fff .1 inset;
	color #444;
	u 0;


	&:active
		shadow none; background-color rgba(form-color-dark, 1); color rgba(form-text-color, .2)

	&:focus
		border-color orange; outline none;

	&:hover
		u 0;


	&:disabled
	&.disabled
		bg #eaeaea; color #bebebe; cursor not-allowed;

	&.primary
		bg #16499a; color #fff;
		&:active
			background-color rgba(#16499a, 0.3); color rgba(#fff, .5)

	&.info
		bg #4390df; color #fff;
		&:active
			background-color rgba(#4390df, 0.3); color rgba(#fff, .5)

	&.success
		bg #57901D; color #fff;
		&:active
			background-color rgba(#57901D, 0.3); color rgba(#fff, .5)

	&.warning
		bg #fa6800; color #fff;
		&:active
			background-color rgba(#fa6800, 0.3); color rgba(#fff, .5)

	&.danger
		bg #9a1616; color #fff;
		&:active
			background-color rgba(#9a1616, 0.3); color rgba(#fff, .5)

	&.link
		bg transparent; border none; color #08c;
		&:hover
			u 1;
		&:active
			background-color transparent; color rgba(#fff, .5)

