@import "_lib";

select
input
	font inherit;
	line-height 16px;
	box-sizing border-box;
	padding 8 10;
	border-radius 5;
	vertical-align top;
	min-height 34;
	transition background-color .2s, border-color .2s;

	border 1 form-color;
	color form-color-light;
	bg rgba(form-color-dark, 0.1);

button
select
input
	&:focus
		border-color orange; outline none; bg rgba(form-color-dark, 0.3);
	&::-moz-focus-inner
		padding 0; border 0; outline none;

label
	display inline-block; margin-top 2; vertical-align top; line-height 1;

.select-wrap
	position relative; overflow hidden; display inline-block; vertical-align top;
	&:after
		content ''; pos 12 12; size 6; border 2 form-color;
		border-width 0 2px 2px 0;
		rotate 45;
	select
		-moz-appearance none; -webkit-appearance none; appearance none; padding-right 28
	optgroup
		padding 10 0 0; margin 0; i 0;
	option
		padding 3 10; margin 0;

.long-input
	width 80%;


.form-row
	clear both; overflow hidden; padding 2 2 20;

	label
		width 15%; padding 8;



// @media (max-height: 520px)
// 	.form
// 		shadow 0 6 5 #000 .3;
