@import "_lib";

.sources
	a.btn-add
		border grey; padding 3 5; show 1;

	.sources-list
		list-style none; padding 0; margin 20 0;

	.sources-li
		show 2; padding 10 20; margin 0 5 5; bg #fff;
		shadow 1 1 1 #000 0.3

