@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "_lib";


html
body
	-ms-text-size-adjust 100%; -webkit-text-size-adjust 100%;
	size 100%; overflow hidden; position fixed; // <- chrome scroll bug

body
	margin 0; font 400 15px/1 arial, sans-serif; cursor default;
	color #fff; bg #333 'noise.png' 0 0 repeat;

*
	box-sizing border-box;
